<!DOCTYPE HTML>
<html>
<head>
    <title>Store app</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
</head>
    
<body>
    <h1>Basic Store</h1>
    
    <section>
        <div class="storeI">
        <img src="{% static 'hat.jpg' %}" alt="hat">
            <div>
            
            </div>    
        </div>
    
    
    </section>
    
    
</body>

</html>